In [1]:
import pandas as pd

In [2]:
competitions_path = "../data/01_raw/competitions.csv"
players_path = "../data/01_raw/players.csv"

In [36]:
competitions = pd.read_csv(competitions_path)
players = pd.read_csv(players_path)

In [61]:
games = competitions.explode("games").rename(columns={"id": "competition_id"})

competitions = competitions.drop(columns=["games"])

games = pd.concat(
    [games.drop(columns=["games"]), games["games"].apply(pd.Series)], axis=1
).rename(columns={"id": "game_id"})

games

    competition_id                  name game_id season
0               38  FIFA Men's World Cup   10511   2022
0               38  FIFA Men's World Cup    3812   2022
0               38  FIFA Men's World Cup    3813   2022
0               38  FIFA Men's World Cup    3814   2022
0               38  FIFA Men's World Cup    3815   2022
..             ...                   ...     ...    ...
0               38  FIFA Men's World Cup    3833   2022
0               38  FIFA Men's World Cup   10508   2022
0               38  FIFA Men's World Cup   10506   2022
0               38  FIFA Men's World Cup   10517   2022
0               38  FIFA Men's World Cup   10510   2022

[64 rows x 4 columns]

In [ ]:
import ast

competitions["games"].apply(ast.literal_eval)

0    [{'id': '10511', 'season': '2022'}, {'id': '38...
Name: games, dtype: object

In [63]:
from pathlib import PosixPath

events_path = PosixPath("/Users/lucas/data/PFF/world-cup-2022")

In [10]:
expected_return = "3111 3112"

test = "askdjas"

test.split(' ')

['askdjas']

In [2]:
competitions_path = "../data/01_raw/competitions.csv"
players_path = "../data/01_raw/players.csv"

In [58]:
competitions = pd.read_csv(competitions_path)

competitions

                                               games  id                  name
0  [{'id': '10511', 'season': '2022'}, {'id': '38...  38  FIFA Men's World Cup

In [46]:
import pandas as pd
import ast

competitions = pd.read_csv(competitions_path)

competitions['games'] = competitions['games'].apply(ast.literal_eval)

games = competitions.explode('games', ignore_index=True)

games

                                games  id                  name
0   {'id': '10511', 'season': '2022'}  38  FIFA Men's World Cup
1    {'id': '3812', 'season': '2022'}  38  FIFA Men's World Cup
2    {'id': '3813', 'season': '2022'}  38  FIFA Men's World Cup
3    {'id': '3814', 'season': '2022'}  38  FIFA Men's World Cup
4    {'id': '3815', 'season': '2022'}  38  FIFA Men's World Cup
..                                ...  ..                   ...
59   {'id': '3833', 'season': '2022'}  38  FIFA Men's World Cup
60  {'id': '10508', 'season': '2022'}  38  FIFA Men's World Cup
61  {'id': '10506', 'season': '2022'}  38  FIFA Men's World Cup
62  {'id': '10517', 'season': '2022'}  38  FIFA Men's World Cup
63  {'id': '10510', 'season': '2022'}  38  FIFA Men's World Cup

[64 rows x 3 columns]

In [68]:
import pandas as pd
import ast

competitions = pd.read_csv(competitions_path)

competitions['games'] = competitions['games'].apply(ast.literal_eval)

games_exploded = competitions.explode('games', ignore_index=True)

games = pd.concat([
    games_exploded[['id', 'name']].rename(columns={'id': 'competition_id', 'name': 'competition_name'}),
    pd.json_normalize(games_exploded['games'])
], axis=1)

games = games.rename(columns={'id': 'game_id'})

competitions = competitions.drop(columns=['games'])

games

    competition_id      competition_name game_id season
0               38  FIFA Men's World Cup   10511   2022
1               38  FIFA Men's World Cup    3812   2022
2               38  FIFA Men's World Cup    3813   2022
3               38  FIFA Men's World Cup    3814   2022
4               38  FIFA Men's World Cup    3815   2022
..             ...                   ...     ...    ...
59              38  FIFA Men's World Cup    3833   2022
60              38  FIFA Men's World Cup   10508   2022
61              38  FIFA Men's World Cup   10506   2022
62              38  FIFA Men's World Cup   10517   2022
63              38  FIFA Men's World Cup   10510   2022

[64 rows x 4 columns]

In [82]:
import os

os.listdir("../data/01_raw/Event Data/")

['3843.json',
 '3841.json',
 '3820.json',
 '3817.json',
 '3830.json',
 '3819.json',
 '3838.json',
 '3850.json',
 '10509.json',
 '3828.json',
 '3851.json',
 '3829.json',
 '3822.json',
 '10506.json',
 '3827.json',
 '3859.json',
 '10517.json',
 '10507.json',
 '3855.json',
 '3857.json',
 '3823.json',
 '10503.json',
 '3826.json',
 '3834.json',
 '3837.json',
 '3816.json',
 '3824.json',
 '10504.json',
 '10515.json',
 '3818.json',
 '3814.json',
 '3813.json',
 '10512.json',
 '3846.json',
 '3854.json',
 '3821.json',
 '10511.json',
 '3845.json',
 '3853.json',
 '10514.json',
 '3833.json',
 '3856.json',
 '10502.json',
 '10516.json',
 '3839.json',
 '3847.json',
 '3835.json',
 '3842.json',
 '3831.json',
 '10513.json',
 '3840.json',
 '3849.json',
 '10505.json',
 '3858.json',
 '3852.json',
 '3848.json',
 '10508.json',
 '10510.json',
 '3815.json',
 '3836.json',
 '3812.json',
 '3844.json',
 '3825.json',
 '3832.json']

In [86]:
set(games['game_id'].apply(lambda x: x + ".json").tolist()) == set(os.listdir("../data/01_raw/Event Data/"))

True