In [1]:
import pandas as pd

In [2]:
competitions_path = "../data/01_raw/competitions.csv"
players_path = "../data/01_raw/players.csv"

In [36]:
competitions = pd.read_csv(competitions_path)
players = pd.read_csv(players_path)

In [61]:
games = competitions.explode("games").rename(columns={"id": "competition_id"})

competitions = competitions.drop(columns=["games"])

games = pd.concat(
    [games.drop(columns=["games"]), games["games"].apply(pd.Series)], axis=1
).rename(columns={"id": "game_id"})

games

    competition_id                  name game_id season
0               38  FIFA Men's World Cup   10511   2022
0               38  FIFA Men's World Cup    3812   2022
0               38  FIFA Men's World Cup    3813   2022
0               38  FIFA Men's World Cup    3814   2022
0               38  FIFA Men's World Cup    3815   2022
..             ...                   ...     ...    ...
0               38  FIFA Men's World Cup    3833   2022
0               38  FIFA Men's World Cup   10508   2022
0               38  FIFA Men's World Cup   10506   2022
0               38  FIFA Men's World Cup   10517   2022
0               38  FIFA Men's World Cup   10510   2022

[64 rows x 4 columns]

In [ ]:
import ast

competitions["games"].apply(ast.literal_eval)

0    [{'id': '10511', 'season': '2022'}, {'id': '38...
Name: games, dtype: object

In [63]:
from pathlib import PosixPath

events_path = PosixPath("/Users/lucas/data/PFF/world-cup-2022")

In [10]:
expected_return = "3111 3112"

test = "askdjas"

test.split(' ')

['askdjas']